:root {
    --background: #24232c;
    --button-background: #3d702a;
    --button-border: #ffffff;
    --border-hightlight: #e4ac44;
    --input-highlight: #209e46;
}
html,
body {
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    color: #ddd;
    background-color: var(--background);
    background-image: url("./assets/inferno-bw.jpg");
    background-size: cover;
    background-blend-mode: hard-light;
    background-position: center;
}
* {
    box-sizing: inherit;
}

#root {
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
