version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.34
    restart: always
    ports:
    - "4466:4466"
    environment:
      PRISMA_CONFIG: |
        port: 4466
        # uncomment the next line and provide the env var PRISMA_MANAGEMENT_API_SECRET=my-secret to activate cluster security
        # managementApiSecret: my-secret
        databases:
          default:
            connector: mysql
            host: prisma-test.cck5paa1wfqy.eu-west-1.rds.amazonaws.com
            user: prismacli
            password: 01gHQWZbwGPC
            rawAccess: true
            port: '3306'
            migrations: true